text {
    color: rgb(24, 201, 47);
    font-size: 30px;
  }
  button {
    text-align: center;
    color: rgb(37, 13, 13);
    background-color: cadetblue;
  }
  
  .imageHome {
    height: 200px;
    width: 200px;
    border-radius: 180px;
    display: flex;
    justify-content: center;
    /*   grid-template-columns: auto auto auto;
      grid-gap: 13px;
      padding: 70px;
      float: left;*/
  }
  #div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;
    padding: 30px;
    /* display: flex;
    justify-content: center;
    gap: 40px; */
  }
  xx {
    background-color: blanchedalmond;
  }
  