body{
    
    background-color: rgb(197, 105, 169);
}

h1{
    background-color: rgb(183, 224, 86);
}
ul{
    background-color: rgb(172, 26, 147);
}
label{
    background-color: cyan;
}
input{
    background-color: rgb(186, 247, 239);
}